   .profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .custom-textfield {
    border-color: '#c25700';
     color: '#000000';
    margin-bottom: 10px;
  }
  .custom-textfield .MuiOutlinedInput-notchedOutline {
    border-color: #c25700 !important;
  }
  .custom-textfield .MuiInputLabel-root.Mui-focused {
    color: #c25700 !important;
  }
  
  .profile-card {
    margin-bottom: 20px;
    text-align: center;
    height: 100px; /* Adjust the height as needed */
  }
  
  .profile-card-button {
    margin-top: 10px;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .profile-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logout-container {
    margin-top: 20px; /* Adjust as needed */
    display: flex;
    justify-content: center;
  }
  
  