.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px !important;
  }
  
  .custom-textfield .MuiOutlinedInput-notchedOutline {
    border-color: #c25700 !important;
  }
  .custom-textfield .MuiInputLabel-root.Mui-focused {
    color: #c25700 !important;
  }
  
  .custom-save-button {
    background-color: #c25700 !important;
    color: white !important;
    border-color: #c25700 !important;
    height: 55px !important;
    width: 150px !important;
    margin-top: 30px !important;
  }
  
  .custom-save-button:hover {
    background-color: #c25700  !important;
  }
  