  .custom-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 260px;
    width: 560px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .custom-card:hover {
    transform: scale(1.04);
  }
  
  .custom-card-media {
    height: 236px;
    width: 240px !important;
    padding: 10px;
    border-radius: 6%;
  }
  
  .custom-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .custom-card-title {
    text-align: left;
    font-weight: bold !important;
    color: #c25700;
  }
  
  .custom-card-content-body {
    text-align: left;
  }
  